{% extends "layout.html" %}
{% block breadcrumbs %}
<li class="active">{{ screen.name }}</li>
{% endblock %}
{% block content %}
<div id="frontpage">
    <h1>Welcome to the SARS-CoV2 CRISPR screen compendium website!</h1>
    <div class="info-boxes">
        <div class="info-box" id="contrib-box">
            <h3>What is this website?</h3>
            <p>This website bundles pooled SARS-CoV2 CRISPR screen and provides them in a uniformly analyzed way, allowing for easy visualization and comparison.</p>
            <h3>How to use?</h3>
            <p>This website is based on the <a href="https://genomebiology.biomedcentral.com/articles/10.1186/s13059-015-0843-6">VISPR tool</a> with only very minor modifications. Here are some tips to get you started:
            </p>
            <ul>
                <li>Use the <b>Experiment</b>-tab at the top of the page to select an experiment</li>
                <li>The <b>Quality Control</b>-tab shows you basic quality controls for the select experiment</li>
                <li>View a ranked list of postively- and negatively selected sgRNAs/genes for the currently selected experiment in the <b>Results</b>-tab</li>
                <li>To overlap genes identified in different experiments use the <b>Compare Experiments</b>-tab, where you can select multiple experiments to see a Venn-diagram of the overlap</li>
            </ul>
            <h3>How to contribute?</h3>
	    <p>If you performed a pooled SARS-CoV2 CRISPR screen, we would appreciate your contribution to this compendium. To add your data to the website, please open an issue on our <a href="https://github.com/moritzschaefer/covid19-screens">GitHub repository</a> or <a href="mailto:cvulpe@ufl.edu">send us an email</a></p>
            <h3>How to cite?</h3>
            <p>Please consider citing our work and the works that made this website possible:</p>
            <ul>
                <li>Until publication, here is our <a href="https://doi.org/10.1101/2021.06.04.447090">preprint on BioRxiv</a></li>
                <li>The VISPR software that is used to display this website has been <a href="https://doi.org/10.1186/s13059-015-0843-6">published here</a></li>
                <li>Also consider citing the authors of the various studies that are presented on this website. See the info-box on the right for references.</li>
            </ul>
        </div>
        <div class="info-box" id="experiments-box">
            <h3>Studies on website currently</h3>
            <ol>
                <li>Daniloski Z, Jordan TX, Wessels HH, Hoagland DA, Kasela S, Legut M, Maniatis S, Mimitou EP, Lu L, Geller E, Danziger O, Rosenberg BR, Phatnani H, Smibert P, Lappalainen T, tenOever BR, Sanjana NE. Identification of Required Host Factors for SARS-CoV-2 Infection in Human Cells. Cell. 2021;184(1):92-105 e16. Epub 2020/11/05. doi: 10.1016/j.cell.2020.10.030. PubMed PMID: 33147445; PubMed Central PMCID: PMCPMC7584921.</li>
                <li>Schneider WM, Luna JM, Hoffmann HH, Sanchez-Rivera FJ, Leal AA, Ashbrook AW, Le Pen J, Ricardo-Lax I, Michailidis E, Peace A, Stenzel AF, Lowe SW, MacDonald MR, Rice CM, Poirier JT. Genome-Scale Identification of SARS-CoV-2 and Pan-coronavirus Host Factor Networks. Cell. 2021;184(1):120-32 e14. Epub 2021/01/01. doi: 10.1016/j.cell.2020.12.006. PubMed PMID: 33382968; PubMed Central PMCID: PMCPMC7796900.
                </li>
                <li>Wang R, Simoneau CR, Kulsuptrakul J, Bouhaddou M, Travisano KA, Hayashi JM, Carlson-Stevermer J, Zengel JR, Richards CM, Fozouni P, Oki J, Rodriguez L, Joehnk B, Walcott K, Holden K, Sil A, Carette JE, Krogan NJ, Ott M, Puschnik AS. Genetic Screens Identify Host Factors for SARS-CoV-2 and Common Cold Coronaviruses. Cell. 2021;184(1):106-19 e14. Epub 2020/12/18. doi: 10.1016/j.cell.2020.12.004. PubMed PMID: 33333024; PubMed Central PMCID: PMCPMC7723770.</li>
                <li>Baggen J, Persoons L, Vanstreels E, Jansen S, Van Looveren D, Boeckx B, Geudens V, De Man J, Jochmans D, Wauters J, Wauters E, Vanaudenaerde BM, Lambrechts D, Neyts J, Dallmeier K, Thibaut HJ, Jacquemyn M, Maes P, Daelemans D. Genome-wide CRISPR screening identifies TMEM106B as a proviral host factor for SARS-CoV-2. Nat Genet. 2021;53(4):435-44. Epub 2021/03/10. doi: 10.1038/s41588-021-00805-2. PubMed PMID: 33686287.</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}
